#sidebar.sidebar
      .sidebar-inner.slimscroll
        #sidebar-menu.sidebar-menu
          ul
            li
              a(href='/doctor/patient')
                i.fa.fa-wheelchair
                span Patients
            li
              a(href='/doctor/appointment')
                i.fa.fa-calendar
                span Appointments
            li
              a(href='/doctor/chat')
                i.fa.fa-comments
                span Chat
                span.badge.badge-pill.bg-primary.float-right 5
            li
              a(href='/doctor/maladie')
                i.fa.fa-calendar
                span Maladie