extends ../../layouts/default.pug

block main
  .page-wrapper
    .content
      .row
        .col-md-6.offset-md-3
          h4.page-title Change Password
          form
            .row
              .col-sm-12
                .form-group
                  label Old password
                  input.form-control(type='password')
            .row
              .col-sm-6
                .form-group
                  label New password
                  input.form-control(type='password')
              .col-sm-6
                .form-group
                  label Confirm password
                  input.form-control(type='password')
            .row
              .col-sm-12.text-center.m-t-20
                button.btn.btn-primary.submit-btn(type='button') Update Password
    .sidebar-overlay(data-reff='')
    script(src='assets/js/jquery-3.2.1.min.js')
    script(src='assets/js/popper.min.js')
    script(src='assets/js/bootstrap.min.js')
    script(src='assets/js/jquery.slimscroll.js')
    script(src='assets/js/app.js')