extends ../../layouts/default.pug
block main
  .main-wrapper
    .page-wrapper
      .content
        .row
          .col-lg-8.offset-lg-2
            h4.page-title Add New
        .row
          .col-lg-8.offset-lg-2
            form
              .form-group
                label Title
                input.form-control(type='text')
              .form-group
                label Images
                div
                  input.form-control(type='file')
              .form-group
                label Description
                textarea.form-control(cols='30' rows='6')
              .form-group
                label.display-block Blog Status
                .form-check.form-check-inline
                  input#blog_active.form-check-input(type='radio' name='status' value='option1' checked='')
                  label.form-check-label(for='blog_active')
                    | Active
                .form-check.form-check-inline
                  input#blog_inactive.form-check-input(type='radio' name='status' value='option2')
                  label.form-check-label(for='blog_inactive')
                    | Inactive
              .m-t-20.text-center
                button.btn.btn-primary.submit-btn Create New
  .sidebar-overlay(data-reff='')
  script(src='assets/js/jquery-3.2.1.min.js')
  script(src='assets/js/popper.min.js')
  script(src='assets/js/bootstrap.min.js')
  script(src='assets/js/jquery.slimscroll.js')
  script(src='assets/js/select2.min.js')
  script(src='assets/js/tagsinput.js')
  script(src='assets/js/app.js')
  // add-blog23:57
