extends ../../layouts/default.pug
block main

  .main-wrapper
    .page-wrapper
      .content
        .row
          .col-lg-8.offset-lg-2
            h4.page-title Edit New
        .row
          .col-lg-8.offset-lg-2
            form
              .form-group
                label New Title
                input.form-control(type='text' value='Skinalyze nhận bằng khen của Bộ Y tế vì đóng góp tích cực cho cộng đồng')
              .form-group
                label New Images
                .col-sm-6
                    .profile-upload
                      .upload-img
                        img(alt='' src='assets/img/user.jpg')
                      .upload-input
                        input.form-control-file(type='file' id="thumbnail" name= "thumbnail" accept="image/* upload-image-input" )
              .form-group
                label New Descriptions
                textarea.form-control(cols='30' rows='6')
              .m-t-20.text-center
                button.btn.btn-primary.submit-btn Save
  .sidebar-overlay(data-reff='')
  script(src='assets/js/jquery-3.2.1.min.js')
  script(src='assets/js/popper.min.js')
  script(src='assets/js/bootstrap.min.js')
  script(src='assets/js/jquery.slimscroll.js')
  script(src='assets/js/select2.min.js')
  script(src='assets/js/tagsinput.js')
  script(src='assets/js/app.js')
  // edit-New23:57
